#btn-register-overlay:hover {
  background-color: var(--p-signup-color-hover);
  cursor: pointer;
}

#btn-login-overlay:hover {
  background-color: var(--p-signin-color-hover);
  cursor: pointer;
}

button {
  @extend %buttons;
}

.p-btn {
  @extend %buttons;
  &-primary {
    background-color: $white;
    color: var(--p-signup-color);
    border-color: var(--p-signup-color);
  }
  &-secondary {
    background-color: $white;
    color: var(--p-signin-color);
    border-color: var(--p-signin-color);
  }
  &-tertiary {
    background-color: var(--p-sidebar-color);
    color: $white;
    border-color: var(--p-sidebar-color);
  }
}
