%pb-input {
  .p-pb-input {
    margin-top: .5rem;
    input {
      box-shadow: inset 1px 1px 5px rgba(0, 0, 0, .5);
      border: transparent;
      &::placeholder {
        color: var(--p-signin-color);
        font-weight: var(--p-font-bold);
        text-transform: uppercase;
      }
    }
  }
}

%buttons {
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  border: 2px solid transparent;
  padding: 5px 30px;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 40px;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
}

%modal-container {
  width: 20%;
  height: auto;
  padding: 2rem;
  background-color: #fff;
  text-align: center;
  box-shadow: 2px 2px 10px rgba(0,0,0,.7);
  border-radius: 15px;
}
