%pb-input {
  .p-pb-input {
    margin-top: .5rem;
    input {
      box-shadow: inset 1px 1px 5px rgba(0, 0, 0, .5);
      border: transparent;
      &::placeholder {
        color: var(--p-signin-color);
        font-weight: var(--p-font-bold);
        text-transform: uppercase;
      }
    }
  }
}
