<script>
  "use-strict";

  const pokemonCard = document.querySelector(".p-pg-row");

  function fetchPokemon(id) {
    return fetch(`https://pokeapi.co/api/v2/pokemon/${id}/`)
      .then((response) => response.json())
      .then((data) => {
        return data;
      })
      .catch((error) => {
        console.log(error);
      });
  }

  function fetchPokemons(number) {
    for (let i = 0; i < number; i++) {
      fetchPokemon(i + 1).then((data) => {
        const pokemonCardClone = pokemonCard.cloneNode(true);
        pokemonCardClone.querySelector(".p-pg-item_name").innerHTML = data.name;
        pokemonCardClone.querySelector(".p-pg-item_sprite > img").src = data.sprites.other.dream_world.front_default;
        pokemonCardClone.querySelector(".p-pg-item_type").innerHTML = data.types[0].type.name;
        pokemonCardClone.querySelector(".p-pg-item_abilities").innerHTML = data.abilities[0].ability.name;
        pokemonCard.parentNode.appendChild(pokemonCardClone);
      });
    }
  }

  fetchPokemons(1118);
  
</script>