<section id="modal-registeredUser" class="p-mru modal">
  <div class="p-mru-container">
    <div class="p-mru-row">
      <h1>¡Bienvenido!</h1>
      <p>¡Gracias por registrarte!</p>
      <span>Ahora puedes iniciar sesion con tu correo electronico y contraseña</span>
      <div class="p-mru-button-group">
        <a href="#" id="p-mru-button" class="p-mru-btn p-btn p-btn-primary">Aceptar</a>
      </div>
    </div>
  </div>
</section>

<section id="modal-exisitingUser" class="p-meu modal">
  <div class="p-meu-container">
    <div class="p-meu-row">
      <h1>¡Advertencia!</h1>
      <p>¡Usuario ya existente!</p>
      <span>Un error ha ocurrido, este correo ya se encuentra registrado</span>
      <div class="p-meu-button-group">
        <a href="#" id="p-meu-button" class="p-meu-btn p-btn p-btn-primary">Aceptar</a>
      </div>
    </div>
  </div>
</section>

<section id="modal-wrongPassword" class="p-mwp modal">
  <div class="p-mwp-container">
    <div class="p-mwp-row">
      <h1>¡Oops!</h1>
      <p>¡El correo o la contraseña son incorrectos!</p>
      <span>Un error ha ocurrido, el correo o la contraseña son incorrectos</span>
      <div class="p-mwp-button-group">
        <a href="#" id="p-mwp-button" class="p-mwp-btn p-btn p-btn-secondary">Aceptar</a>
      </div>
    </div>
  </div>
</section>

<section id="modal-unexistAccount" class="p-mua modal">
  <div class="p-mua-container">
    <div class="p-mua-row">
      <h1>¡Oops!</h1>
      <p>¡Este correo no se encuentra registrado!</p>
      <span>Un error ha ocurrido, este correo no se encuentra registrado</span>
      <div class="p-mua-button-group">
        <a href="#" id="p-mua-button" class="p-mua-btn p-btn p-btn-secondary">Aceptar</a>
      </div>
    </div>
  </div>
</section>